@import './colors.scss';
@import './size.scss';

.race {
  text-align: center;
  /* race */
  .race-place-1 {
      stroke-width: 2px;
      stroke: $gold;
  }
  .race-place-2 {
      stroke-width: 2px;
      stroke: $silver;
  }
  .race-place-3 {
      stroke-width: 2px;
      stroke: $bronze;
  }
  .race-place-others {
      stroke-width: 1px;
      stroke: $main-light;
  }
  .race-bg {
      fill: none;
  }
  .race-bg-hover {
      fill: $main;
      opacity: 0.3;
  }
  .race-place {
      @extend .pos-middle;
      @extend .v-central;
      @extend .size-small;
      fill: $grey-darker;
  }
  .race-label-meet, .race-label-year, .race-label-race {
      @extend .size-xsmall;
      @extend .v-top;
      fill: $grey-darker;
  }
  .race-label-date {
      @extend .size-xsmall;
      @extend .v-top;
      fill: $grey;
  }
  .race-label-meet, .race-label-year {
      font-weight: bold;
  }
  .race-line-meet, .race-line-year, .race-line-race {
      stroke: $grey-light;
      stroke-width: 1px;
  }
  .race-athlete {
      stroke: $node;
  }
  .race-athlete-out {
      stroke: $grey;
  }
  .race-athlete-clicked {
      stroke: $highlight;
  }
  .race-athlete-linked {
      stroke: $main-light;
  }
  .fill-place-1 {
      fill: $gold;
      stroke: $grey-dark;
      stroke-width: 2px;
  }
  .fill-place-2 {
      fill: $silver;
      stroke: $grey-dark;
      stroke-width: 2px;
  }
  .fill-place-3 {
      fill: $bronze;
      stroke: $grey-dark;
      stroke-width: 2px;
  }

}
.race-g-elm {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}