@import './colors.scss';
@import './size.scss';

.summary {
    display: flex;
    align-items: center;
    .summary-list {
        line-height: 140%;
        .typcn {
            color: $main !important;
        }
    }
    .summary-gender {
        font-size: $small;
        font-weight: bold;
        margin-right: $pg-xxs;
        strong {
            color: $highlight;
        }
    }
    .kind {
        color: $grey-darker;
        font-size: $small;
    }
    .kind-events {
        &:not(:first-child) {
            margin-left: $pg-xs;
        }
    }
    .temp-count {
        position: absolute;
        left: 0;
        margin-left: 12px;
        font-size: $small;
        .count {
            color: $highlight;
            font-size: $normal;
            font-weight: bold;
        }
        .count-warning {
            color: $highlight;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .button {
        border-radius: 4px;
        .typcn {
            font-size: $large;
            margin-left: 0;
        }
    }
    .button.modify {
        background-color: $highlight;
        border-color: $highlight;
        color: $white;
        &:hover {
            background-color: $highlight-dark;
            border-color: $highlight-dark;
        }
        .typcn {
            color: $white;
        }
    }
    .button.update {
        color: $white;
        background-color: $main;
        border-color: $main;
        &:hover {
            background-color: $main-dark;
            border-color: $main-dark;
        }
        .typcn {
            color: $white;
        }
    }
    .button.cancel {
        margin-left: $pg-sm;
        border-color: $main;
        color: $main;
        border-color: $grey-lighter;
        &:hover {
            background-color: $grey-lighter;
        }
        .typcn {
            color: $grey;
        }
    }
}