@import './colors.scss';
@import './size.scss';

.vis-wrapper {
    border: 1px solid $grey-lighter;
    border-top-left-radius: $bd-radius;
    border-bottom-left-radius: $bd-radius;
    border-bottom-right-radius: $bd-radius;
    background-color: $white;
}