/* grey scale */
@import '../../node_modules/open-color/open-color.scss';

$white: #ffffff;

/* content colors */
$main: #2bc0e4;
$main-light: #91f0f9;
$main-dark : darken($main, 5%);
$sub: #21d7c4;
$highlight: #f5625a;
$highlight-light: #ffebea;

/* vis */
$node: $oc-gray-8;
$over: $main;
$clicked: $highlight;
$linked: $main-light;

/* result */
$gold: #fbcd15;
$silver: #dadada;
$bronze: #d88133;
$white-trans: fade($white, 70%);

/* grey */
$grey-darker: $oc-gray-9;
$grey-dark: $oc-gray-7;
$grey: $oc-gray-6;
$grey-light: $oc-gray-5;
$grey-lighter: $oc-gray-2;