/* grey scale */
/* content colors */
/* vis */
/* result */
/* grey */
/* grey scale */
/* content colors */
/* vis */
/* result */
/* grey */
/* font-size */
/* letter spacing */
/* word spacing */
/* line height */
/* paragraph spacing or padding*/
/* other sizing */
/* borders */
body {
  background-color: #f8f9fa; }

.contents.container {
  position: inherit;
  margin-top: 12px; }

.vis-wrapper {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #ffffff; }

.graph {
  margin-top: 15px;
  position: relative; }

.graph .hovered-swimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  background-color: fade(#ffffff, 70%);
  padding-right: 6px;
  padding-left: 6px;
  display: inline-table; }

.graph .hovered-swimmer i {
  font-style: normal;
  color: #f5625a; }
