@import './colors.scss';
@import './size.scss';

body {
    margin: 0;
    padding: 0;
    font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, san-serif;
    color: $grey-darker;
    background-color: $oc-gray-0;
}

.footer {
    background-color: $grey-dark;
    color: $grey;
    font-size: $small;
    line-height: 180%;
    a {
        color: $white;
    }
    .divider {
        margin-left: $pg-sm;
        margin-right: $pg-sm;
    }
}

.intro, .header {
    .logo-title {
        display: flex;
        align-items: center;
        .text-swimmer, .text-network {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .text-swimmer {
            font-weight: bold;
        }
    }
}
.intro {
    background-color: $white;
    .logo-wrapper {
        position: relative;
    }
    .logo-bg {
        position: absolute;
        width: 100%;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .logo-title {
        flex-direction: column;
        color: $main;
        font-size: 1.4em;
        padding-right: 10%;
        padding-left: 10%;
    }
    .text-swimmer {
        width: 100%;
        justify-content: space-between !important;
    }
    .text-network {
        width: 100%;
    }
    .radio-selection {
        text-align: center;
        div {
            padding-top: 2em;
            color: $grey;
            font-size: $small;
        }
    }
    .radio {
        text-align: center;
        width: 100%;
    }
    .radio-wrapper {
        border-right: 1px solid $grey-lighter;
    }
    .radio-desc {
        margin-top: 1em;
    }
    .button-wrapper {
        text-align: center;
        margin-bottom: 2em;
    }
    .intro-button {
        color: $white;
        background-color: $highlight;
        border-color: $highlight;
        &:hover {
            background-color: $highlight-dark;
        }
    }

}
.header {
    .logo-title {
        color: $white;
        cursor: pointer;
    }
    .text-swimmer {
        width: 40%;
    }
    .text-network {
        width: 48%;
        margin-left: 2%;
    }
}