/* grey scale */
/* content colors */
/*#f5625a;*/
/*#ffebea;*/
/* grey */
/* vis */
/* result */
/* grey scale */
/* content colors */
/*#f5625a;*/
/*#ffebea;*/
/* grey */
/* vis */
/* result */
/* font-size */
/* letter spacing */
/* word spacing */
/* line height */
/* paragraph spacing or padding*/
/* other sizing */
/* borders */
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, san-serif;
  color: #212529;
  background-color: #f8f9fa; }

.footer {
  background-color: #495057;
  color: #868e96;
  font-size: 14px;
  line-height: 180%; }

.footer a {
  color: #ffffff; }

.footer .divider {
  margin-left: 15px;
  margin-right: 15px; }

.intro .logo-title, .header .logo-title {
  display: flex;
  align-items: center; }

.intro .logo-title .text-swimmer, .intro .logo-title .text-network, .header .logo-title .text-swimmer, .header .logo-title .text-network {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.intro .logo-title .text-swimmer, .header .logo-title .text-swimmer {
  font-weight: bold; }

.intro {
  background-color: #ffffff; }

.intro .logo-wrapper {
  position: relative; }

.intro .logo-bg {
  position: absolute;
  width: 100%; }

.intro .logo-bg svg {
  width: 100%;
  height: 100%; }

.intro .logo-title {
  flex-direction: column;
  color: #2bc0e4;
  font-size: 1.4em;
  padding-right: 10%;
  padding-left: 10%; }

.intro .text-swimmer {
  width: 100%;
  justify-content: space-between !important; }

.intro .text-network {
  width: 100%; }

.intro .radio-selection {
  text-align: center; }

.intro .radio-selection div {
  padding-top: 2em;
  color: #868e96;
  font-size: 14px; }

.intro .radio {
  text-align: center;
  width: 100%; }

.intro .radio-wrapper {
  border-right: 1px solid #e9ecef; }

.intro .radio-desc {
  margin-top: 1em; }

.intro .button-wrapper {
  text-align: center;
  margin-bottom: 2em; }

.intro .intro-button {
  color: #ffffff;
  background-color: #f32f57;
  border-color: #f32f57; }

.intro .intro-button:hover {
  background-color: #f21744; }

.header .logo-title {
  color: #ffffff;
  cursor: pointer; }

.header .text-swimmer {
  width: 40%; }

.header .text-network {
  width: 48%;
  margin-left: 2%; }
