/* grey scale */
/* content colors */
/* vis */
/* result */
/* grey */
/* grey scale */
/* content colors */
/* vis */
/* result */
/* grey */
/* font-size */
/* letter spacing */
/* word spacing */
/* line height */
/* paragraph spacing or padding*/
/* other sizing */
/* borders */
/* d3 */
.pos-middle, .race-place {
  text-anchor: middle; }

.pos-start {
  text-anchor: start; }

.pos-end {
  text-anchor: end; }

.v-central, .race-place {
  alignment-baseline: central; }

.v-top, .race-label-meet, .race-label-year, .race-label-race {
  alignment-baseline: hanging; }

.size-tiny {
  font-size: 9px; }

.size-xsmall, .race-label-meet, .race-label-year, .race-label-race {
  font-size: 12px; }

.size-small, .race-place {
  font-size: 14px; }

.size-normal {
  font-size: 16px; }

.size-large {
  font-size: 18px; }

.unselectable {
  pointer-events: none; }

.stroke-black {
  stroke: black; }

.stroke-lightGrey {
  stroke: #adb5bd; }

.stroke-lightestGrey {
  stroke: #dee2e6; }

.fill-darkGrey {
  fill: #495057; }

.fill-grey {
  fill: #868e96; }

.fill-lightGrey {
  fill: #adb5bd; }

/* d3 project specific */
.link-normal {
  stroke: #343a40;
  stroke-opacity: 0.1; }

.link-all-linked {
  stroke: #f5625a;
  stroke-opacity: 1; }

.link-over {
  stroke: #2bc0e4;
  stroke-opacity: 1; }

.node-common, .node-normal, .node-over, .node-clicked, .node-linked {
  stroke-width: 1;
  stroke: #ffffff;
  stroke-opacity: 0.5; }

.node-normal {
  fill: #343a40; }

.node-all-linked {
  stroke: #f5625a;
  stroke-opacity: 1;
  fill: #ffffff; }

.node-over {
  fill: #2bc0e4;
  cursor: pointer; }

.node-clicked {
  fill: #f5625a;
  cursor: pointer; }

.node-linked {
  fill: #91f0f9; }

/* race */
.race-place-1 {
  stroke-width: 2px;
  stroke: #fbcd15; }

.race-place-2 {
  stroke-width: 2px;
  stroke: #dadada; }

.race-place-3 {
  stroke-width: 2px;
  stroke: #d88133; }

.race-place-others {
  stroke-width: 1px;
  stroke: #91f0f9; }

.race-bg {
  fill: none; }

.race-bg-hover {
  fill: #2bc0e4;
  opacity: 0.3; }

.race-place {
  fill: #212529; }

.race-label-meet, .race-label-year, .race-label-race {
  fill: #212529; }

.race-label-meet, .race-label-year {
  font-weight: bold; }

.race-line-meet, .race-line-year, .race-line-race {
  stroke: #adb5bd;
  stroke-width: 1px; }

.race-athlete {
  stroke: #495057; }

.race-athlete-out {
  stroke: #868e96; }

.race-athlete-over {
  stroke: #2bc0e4; }

.race-athlete-clicked {
  stroke: #f5625a; }

.fill-place-1 {
  fill: #fbcd15;
  stroke: #495057;
  stroke-width: 2px; }

.fill-place-2 {
  fill: #dadada;
  stroke: #495057;
  stroke-width: 2px; }

.fill-place-3 {
  fill: #d88133;
  stroke: #495057;
  stroke-width: 2px; }
