/* grey scale */
/* content colors */
/* vis */
/* result */
/* grey */
/* grey scale */
/* content colors */
/* vis */
/* result */
/* grey */
/* font-size */
/* letter spacing */
/* word spacing */
/* line height */
/* paragraph spacing or padding*/
/* other sizing */
/* borders */
/* d3 */
.pos-middle {
  text-anchor: middle; }

.pos-end {
  text-anchor: end; }

.v-central {
  alignment-baseline: central; }

.v-top {
  alignment-baseline: hanging; }

.size-tiny {
  font-size: 9px; }

.size-small {
  font-size: 14px; }

.size-normal {
  font-size: 16px; }

.size-large {
  font-size: 18px; }

.unselectable {
  pointer-events: none; }

.stroke-black {
  stroke: black; }

.stroke-lightGrey {
  stroke: #adb5bd; }

.stroke-lightestGrey {
  stroke: #dee2e6; }

.fill-darkGrey {
  fill: #495057; }

.fill-grey {
  fill: #868e96; }

.fill-lightGrey {
  fill: #adb5bd; }

/* d3 project specific */
.link-normal {
  stroke: #343a40;
  stroke-opacity: 0.1; }

.link-all-linked {
  stroke: #f5625a;
  stroke-opacity: 1; }

.link-over {
  stroke: black;
  stroke-opacity: 1; }

.node-common, .node-normal, .node-over, .node-clicked, .node-linked {
  stroke-width: 1;
  stroke: #ffffff;
  stroke-opacity: 0.5; }

.node-normal {
  fill: #343a40; }

.node-all-linked {
  stroke: #f5625a;
  stroke-opacity: 1;
  fill: #ffffff; }

.node-over {
  fill: #2bc0e4;
  cursor: pointer; }

.node-clicked {
  fill: #f5625a;
  cursor: pointer; }

.node-linked {
  fill: #91f0f9; }

.athlete {
  fill: #495057; }

.axis path {
  stroke: none; }

.axis line {
  stroke-dasharray: 1, 3;
  stroke: #adb5bd; }

.axis text {
  font-family: avenir;
  text-anchor: start;
  font-size: 12px; }
