@import './colors.scss';
@import './size.scss';

/* d3 */
.pos-middle {
    text-anchor: middle;
}
.pos-start {
    text-anchor: start;
}
.pos-end {
    text-anchor: end;
}
.v-central {
    alignment-baseline: central;
}
.v-top {
    alignment-baseline: hanging;
}
.size-tiny {
    font-size:$tiny;
}
.size-xsmall {
    font-size:$xsmall;
}
.size-small {
    font-size:$small;
}
.size-normal {
    font-size:$normal;
}
.size-large {
    font-size:$large;
}
.unselectable {
    pointer-events: none;
}
.stroke-black {
    stroke: black;
}
.stroke-lightGrey {
    stroke:$oc-gray-5;
}
.stroke-lightestGrey {
    stroke:$oc-gray-3;
}
.fill-darkGrey {
    fill:$oc-gray-7;
}
.fill-grey {
    fill:$oc-gray-6;
}
.fill-lightGrey {
    fill:$oc-gray-5;
}

/* d3 project specific */

.link-normal {
    stroke:$oc-gray-8;
    stroke-opacity: 0.1;
}
.link-all-linked {
    stroke:$highlight;
    stroke-opacity: 1;
}
.link-over {
    stroke: $over;
    stroke-opacity: 1;
}
.node-common {
    stroke-width: 1;
    stroke: $white;
    stroke-opacity: 0.5;
}
.node-normal {
    @extend .node-common;
    fill: $node;
}
.node-1 {
    fill: $gold;
}
.node-2 {
    fill: $silver;
}
.node-3 {
    fill: $bronze;
}
.node-all-linked {
    stroke: $highlight;
    stroke-opacity: 1;
    fill: $white;
}
.node-over {
    @extend .node-common;
    fill: $over;
    cursor: pointer;
}
.node-clicked {
    @extend .node-common;
    fill: $clicked;
    cursor: pointer;
}
.node-linked {
    @extend .node-common;
    fill: $linked;
}

/* race */
.race-place-1 {
    stroke-width: 2px;
    stroke: $gold;
}
.race-place-2 {
    stroke-width: 2px;
    stroke: $silver;
}
.race-place-3 {
    stroke-width: 2px;
    stroke: $bronze;
}
.race-place-others {
    stroke-width: 1px;
    stroke: $main-light;
}
.race-bg {
    fill: none;
}
.race-bg-hover {
    fill: $main;
    opacity: 0.3;
}
.race-place {
    @extend .pos-middle;
    @extend .v-central;
    @extend .size-small;
    fill: $grey-darker;
}
.race-label-meet, .race-label-year, .race-label-race {
    @extend .size-xsmall;
    @extend .v-top;
    fill: $grey-darker;
}
.race-label-date {
    @extend .size-xsmall;
    @extend .v-top;
    fill: $grey;
}
.race-label-meet, .race-label-year {
    font-weight: bold;
}
.race-line-meet, .race-line-year, .race-line-race {
    stroke: $grey-light;
    stroke-width: 1px;
}
.race-athlete {
    stroke: $grey-dark;
}
.race-athlete-out {
    stroke: $grey;
}
.race-athlete-clicked {
    stroke: $highlight;
}
.race-athlete-over {
    stroke: $main;
}
.fill-place-1 {
    fill: $gold;
    stroke: $grey-dark;
    stroke-width: 2px;
}
.fill-place-2 {
    fill: $silver;
    stroke: $grey-dark;
    stroke-width: 2px;
}
.fill-place-3 {
    fill: $bronze;
    stroke: $grey-dark;
    stroke-width: 2px;
}
.intro-wave {
    stroke: $main;
}
.intro-year-line {
    stroke: $grey-lighter;
    stroke-dasharray: 4 6;
}
.intro-year-bg {
    fill: $main;
}
.intro-year-paused {
    fill: $highlight;
}
.intro-year-text {
    font-size: $small;
    fill: $white;
    font-weight: bold;
    @extend .unselectable;
}
.intro-meet-hidden {
    opacity: 0;
}
.intro-meet-shown {
    opacity: 1;
}
.intro-meet-dimmed {
    opacity: 0.5;
}
.intro-meet-top, .intro-meet-bottom {
    @extend .unselectable;
    font-size: $xsmall;
}
.intro-year-top {
    text-anchor: end
}
.intro-year-bottom {
    @extend .v-top;
}
.intro-meet-bottom {
    @extend .v-top;
}
.intro-swimmer {
    fill: $highlight;
    stroke: $white;
    stroke-width: 6px;
    stroke-opacity: 0.5;
}