@import './colors.scss';
@import './size.scss';

/* d3 */
.pos-middle {
    text-anchor: middle;
}
.pos-end {
    text-anchor: end;
}
.v-central {
    alignment-baseline: central;
}
.v-top {
    alignment-baseline: hanging;
}
.size-tiny {
    font-size:$tiny;
}
.size-small {
    font-size:$small;
}
.size-normal {
    font-size:$normal;
}
.size-large {
    font-size:$large;
}
.unselectable {
    pointer-events: none;
}
.stroke-black {
    stroke: black;
}
.stroke-lightGrey {
    stroke:$oc-gray-5;
}
.stroke-lightestGrey {
    stroke:$oc-gray-3;
}
.fill-darkGrey {
    fill:$oc-gray-7;
}
.fill-grey {
    fill:$oc-gray-6;
}
.fill-lightGrey {
    fill:$oc-gray-5;
}

/* d3 project specific */

.link-normal {
    stroke:$oc-gray-8;
    stroke-opacity: 0.1;
}
.link-all-linked {
    stroke:$highlight;
    stroke-opacity: 1;
}
.link-over {
    stroke: $over;
    stroke-opacity: 1;
}
.node-common {
    stroke-width: 1;
    stroke: $white;
    stroke-opacity: 0.5;
}
.node-normal {
    @extend .node-common;
    fill: $node;
}
.node-all-linked {
    stroke: $highlight;
    stroke-opacity: 1;
    fill: $white;
}
.node-over {
    @extend .node-common;
    fill: $over;
    cursor: pointer;
}
.node-clicked {
    @extend .node-common;
    fill: $clicked;
    cursor: pointer;
}
.node-linked {
    @extend .node-common;
    fill: $linked;
}

.athlete {
    fill: $grey-dark;
}

.axis {
    path {
        stroke: none;
    }
    line {
        stroke-dasharray: 1, 3;
        stroke: $grey-light;
    }
    text {
        font-family: avenir;
        text-anchor: start;
        font-size: $xsmall;
    }
}