@import './colors.scss';
@import './size.scss';

.footer {
    background-color: $grey-dark;
    color: $grey;
    font-size: $small;
    line-height: 180%;
    a {
        color: $white;
    }
    .divider {
        margin-left: $pg-sm;
        margin-right: $pg-sm;
    }
}
