@import './colors.scss';
@import './size.scss';

.network-options {
    text-align: center;
    margin-top: $pg-xs;
    font-size: $small;
    .radio {
        &:first-child {
            margin-right: $pg-xs;
        }
    }
}
.network {
    margin-top: $pg-sm;
    .hovered-swimmer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: $small;
        background-color: $white-trans;
        padding-right: $pg-xs;
        padding-left: $pg-xs;
        display: inline-table;
        i {
            font-style: normal;
            color: $highlight;
        }
    }
}