@import '../node_modules/bulma/bulma.sass';

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, san-serif;
}

@import './styles/d3.scss';
@import './styles/components.scss';