<!-- gender-switch, top 100% width -->
<div class="gender">
    <div class="selected"><span class="number">{{ selectedAthletes.length }} {{ genders[selectedGenderId] }}</span> Swimmers</div>
    <div class="gender-switch">
        <a ng-click="switchGender()" class="link"><span class="typcn typcn-eye"></span> switch to {{ genders[selectedGenderId * -1 + 1] }}</a>
    </div>
</div>

<!-- tabs on the left top -->
<div class="tabs">
    <div ng-class="openTab == 'event' ? 'open' : (selectedTab == 'event' ? 'selected': 'normal')"><a ng-click="updateTab('event')"><span class="typcn typcn-clipboard"></span></a></div>
    <div ng-class="openTab == 'name' ? 'open' : (selectedTab == 'name' ? 'selected': 'normal' )"><a ng-click="updateTab('name')"><span class="typcn typcn-zoom"></span></a></div>
</div>

<div class="top" id="top">
    <ul class="menus">
        <li><a href="#"> Data </a></li>
        <li><a href="#"> Insights </a></li>
        <li> Share <a href="#"><span class="typcn typcn-social-twitter-circular"></span></a><a href="#"><span class="typcn typcn-social-facebook-circular"></span></a></li>
    </ul>
    <ul class="copyright" ng-include="'copyright.html'"></ul>
</div>

<!-- content main -->
<div class="content" id="content">

    <!-- option summary -->
    <div class="summary">
        Competed at <span class="wrapper" ng-repeat="kind in ['meets', 'events']">
            <span ng-repeat="(key, val) in sel[kind]">
                <span class="kind" ng-if="selParent[kind][key]">
                    <span class="meets-title" ng-if="kind == 'meets'">{{ key.slice(1) }}</span>
                    <span ng-repeat="(k, v) in val" ng-class="sel[kind][key][k] ? 'valid' : 'none'" >
                        <span ng-if="sel[kind][key][k]" > {{ k }} </span>
                    </span>
                </span>
            </span>
            <span ng-if="kind == 'meets'" class="typcn typcn-times"></span>
        </span>
    </div>

    <!-- table -->
    <div class="results">
        <div class="selected-lists">
            Highlight all swimmer competed at
            <select ng-model="selectedRace" ng-change="showAthletesByRace(selectedRace)">
                <option value="" selected>Select a race</option>
                <option ng-repeat="r in selectedRaces track by $index" value="{{r}}">{{ r.split('-')[0].slice(1) }} {{ r.split('-')[1] }} - {{ r.split('-')[4] }}</option>
            </select>
        </div>

        <!-- no athletes are selected -->
        <div class="no-athletes" ng-show="athletesOnFocus.length == 0">
            OR click circles in the graph to compare athletes with one another
        </div>

        <!-- no shared races -->
        <div class="no-races" ng-show="athletesOnFocus.length > 0 && sharedRaces.length == 0 ">
            These {{ athletesOnFocus.length }} swimmers did not competed against each other
        </div>

        <div class="table-wrapper">
            <table class="race-athlete-table">
                <!-- race list -->
                <thead>
                    <tr ng-if="sharedRaces.length > 0" class="thead">
                        <th colspan="2" class="athlete">{{ athletesOnFocus.length }} selected</th>
                        <th ng-repeat="r in sharedRaces" class="record">
                            <span class="race-meet">{{ r.split('-')[0].slice(1) }}</span>
                            {{ r.split('-')[1] }}
                            <span class="dash">-</span>
                            {{ r.split('-')[4] }}
                        </th>
                    </tr>
                </thead>
                <!-- athlete list -->
                <tbody>
                    <tr ng-repeat="a in athletesOnFocus" ng-show="athletesOnFocus.length > 0">
                        <td class="close">
                            <a ng-click="hideAthlete($index, a.id)"><span class="typcn typcn-delete"></span></a>
                        </td>
                        <td class="athlete">
                            <div class="name">{{ a.name }}</div>
                            <div class="country">{{ a.country }}</div>
                        </td>
                        <td ng-repeat="r in sharedRaces" class="record" ng-class="{ winner: sharedRacesWinner[$index].indexOf($parent.$index) > -1 }">
                            <div class="place-wrapper"><span ng-class="'place place' + a.records[r].place">{{ a.records[r].place }}</span></div>
                            <div class="swimtime">{{ a.records[r].swimtime }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- vis -->
    <div class="vis">
        <svg id="vis" width="100%" ng-hide="visUpdating"></svg>
        <div ng-show="visUpdating">Updating vis now</div>
        <div class="hovered-swimmer" id="swimmer"></div>
        <div class="show-links" ng-show="athletesOnFocus.length > 0"><input type="checkbox" ng-model="isLinkedVisible" ng-click="toggleLinkedNodes()"> Show focused swimmers' network</div>
    </div>
</div>

<!-- options -->
<div class="options" ng-show="openTab == 'event'">

    <!-- update button -->
    <div class="total">
        <span class="number">{{ selectedAthletes.length }}</span> swimmers found
        <div class="lable" ng-class="optionChanged && selectedAthletes.length > 0 ? 'link-enabled' : 'link-disabled'" ng-click="reselectAthletes()">
            <span class="typcn typcn-refresh"></span>
            <span ng-hide="visUpdating">Update</span>
            <span ng-show="visUpdating" class="animate-flicker">Updating Now...</span>
        </div>
    </div>

    <!-- meets & events -->
    <div class="wrapper">
        <div ng-repeat="kind in ['meets', 'events']" class="kind">
            <div class="title"> {{ kind }} </div>
            <ul class="select-list">
                <li ng-repeat="(key, val) in category[kind]">
                    <div class="list-title">
                        <span class="list-title-text">{{ val.name }}</span>
                        <span ng-show="selParent[kind][key]"><a ng-click="filterParent(kind, key)"><span class="typcn typcn-minus"></span></a></span>
                        <span ng-hide="selParent[kind][key]"><a ng-click="filterParent(kind, key)"><span class="typcn typcn-plus"></span></a></span>
                    </div>
                    <ul>
                        <li ng-repeat="child in val.children" ng-class="child[0]=='800Fr' && genders[selectedGenderId]=='men' || child[0]=='1500Fr' && genders[selectedGenderId]=='women' ? 'list-item-disabled': 'list-item'">
                            <input type="checkbox" ng-model="sel[kind][key][child[0]]" ng-change="updateParentStatus(kind, key, child[0])" ng-hide="child[0]=='800Fr' && genders[selectedGenderId]=='men' || child[0]=='1500Fr' && genders[selectedGenderId]=='women'">
                            {{ child[1] }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- search -->
<div class="search" ng-show="openTab == 'name'">
    <div class="total">
        <span class="number">{{ selectedAthletes.length }}</span> swimmers found
    </div>
    <div class="wrapper">
        COMING SOON
        Search: <br/>
        <input type="text">
    </div>
</div>
