<div ng-include="'views/sub-content/close.html'"></div>

<h1> Data Source </h1>
<p>
    The original data are acquired from <a href="https://www.swimrankings.net/" target="_blank">Swim Rankings</a>. The website provides the public with the results of major swim competitions and swimmer's records. Among the various types of data and according web pages, in order to derive the interesting and meaninful relation of the elite swimmers, I focus on the final races of the internationally recognized competitions. The nextwork of swimmers is defined as follows.
</p>
<p>
    <i> Each swimmer is a node presented as a circle. </i> The importance of a node is decided on the record of the collected races; FINA applies points to the competitors. The points are typically around +700 and swimmers with higher places and better records (e.g., game record or world record) earns higher points. Each node is represented as a circle whose area is proportional to the accumulated points.
</p>
<p>
    <i> Swimmers are linked if they have competed aginst one other at one or multiple races. </i> The link (edge) of two swimmers is presented a semi-transparent straight line. The thickness of the line represents the number of the shared raced by the two linked swimmers. Swimming together representing a same country in a same team event is not considered for links.
</p>

<h1>Competetions (Meets) </h1>
<p>
    The data source site Swim Ranking currently open data from 2007 to the public. Among various international swim games, I focus the followings <i>5 competitions</i>. From 2007 to 2016, <i> total 17 meets </i> are covered.
</p>
<ul>
	<li> <b>OG</b> Olympic Games / <i>Every 4-th years - 2008, 2012, 2016</i> </li>
	<li> <b>WC</b> World Championships / <i>Every odd years - 2007, 2009, 2011, 2013, 2015</i> </li>
	<li> <b>EC</b> European Championships / <i>Every even years - 2008, 2010, 2012, 2014, 2016</i> </li>
	<li> <b>CG</b> Commonwealth Games / <i>Every non-olympic 4-th years - 2010, 2014</i> </li>
	<li> <b>PPC</b> Pan Pacific Championships / <i>Every non-olympic 4-th years - 2010, 2015</i> </li>
</ul>

<h1>Swim Events</h1>
<p>
    Events are largely divided into two - individul (IND) and team (TEAM). In this project, I exclude events that are not introduced to the Olympics. For example, shorter distance (50m) backstroke and breaststroke races are competed in the Wrold Championships but not in the Olympics. Between the races of men and women, there is no perfect symmetry; the longest free style for men is 1500m, whereas women compete at 800m. Here is the list of events in the dataset I use.
</p>
<p>
    The dataset inlcudes only final races. You can explore total <i>544 races</i> (16 events X 2 genders X 17 meets) through Swimmer's Network. At the end, I derived total <i>869 men</i> and <i>779 women</i> swimmers.
</p>
<ul>
    <li> <b>IND</b> Freestyle: 50m, 100m, 200m, 400m, 800m (only for women), 1500m (only for men) </li>
    <li> <b>IND</b> Backstroke: 100m, 200m </li>
    <li> <b>IND</b> Breaststroke: 100m, 200m </li>
    <li> <b>IND</b> Butterfly: 100m, 200m </li>
    <li> <b>IND</b> Medley: 200m, 400m </li>
    <li> <b>TEAM</b> Freestyle: 4 X 100m, 4 X 200m</li>
    <li> <b>TEAM</b> Medley: 4 X 100m</li>
</ul>

<h1> Subsets of Swimmer's network </h1>
<p>
    Swimmer's Network provides two ways to filter the results of competitions. The following examples are available at the main page, which will help you start exploring swimmer and their competition history.
</p>
<h2> Meets &amp; Events </h2>
<p>
    One is through the combination of 17 swim meets and 16 events. For example, selecting all the Olympic games (2008, 2012, 2016) and men's all free style events (50m, 100m, 200m, 400m, 800/1500m, 4 X 100m relay, and 4 X 200 relay) returns the results of total 21 races (3 X 7) and 166 swimmers.
</p>
<h2> Name Search </h2>
<p>
    Another way to find swimmers is starting with one specific swimmer. One of the dominant swimmers at the Rio Olympics was Kate (Kathleen) Ledecky. Among the competitions covered in this project, she competed against or with (as a leg of team) 119 women swimmers.
</p>


