<div ng-include="'views/sub-content/close.html'"></div>

<h1> What You Can Discover with this? </h1>
<p>
    Even if you are not interested in swimming, you may have heard some world-class swimmers such as Michael Phelps or the infamous Ryan Lochte. If you follow swimming, you may be curious about these two swimmers' rivery history. This is one question that you can answer with this swimmer's network visualization. Here I list several ways of finding insights.
</p>

<h1> How can I generate networks of swimmers? </h1>
<p>
    Swimmer's Network provides two ways to filter the results of competitions.
</p>
<h2> Meets &amp; Events </h2>
<p>
    One is through the combination of 17 swim meets and 16 events. For example, selecting all the Olympic games (2008, 2012, 2016) and men's all free style events (50m, 100m, 200m, 400m, 800/1500m, 4 X 100m relay, and 4 X 200 relay) returns the results of total 21 races (3 X 7) and 166 swimmers.
</p>
<h2> Name Search </h2>
<p>
    Another way to find swimmers is starting with one swimmer. One of the dominant swimmers at the Rio Olympics was Kate (Kathleen) Ledecky. Let's see who competed with her at the major international competitions.
</p>


