.menu {
    margin-top: @pg-sm;
    letter-spacing: @ls-sm;
    margin-left: 0;
    overflow: hidden;
    .tab, .gender-switch {
        padding-top: @pg-sm;
        padding-bottom: @pg-sm;
    }
    .tab-wrapper {
        padding-left: 0;
        padding-right: 0;
        display: table;
    }
    .tab {
        font-size: @small;
        text-transform: uppercase;
        text-align: center;
        border-top-right-radius: @bd-radius;
        border-top-left-radius: @bd-radius;
        float: none;
        display: table-cell;
        vertical-align: middle;
        a {
            color: @black;
            .link();
            &:hover {
                color: @darkGrey;
            }
        }
    }
    .selected {
        background-color: @lightestGrey-bg;
        border: 1px solid @lightestGrey-bg;
    }
    .open {
        background-color: @white;
        color: @main;
        border-top: @bd-thin-main;
        border-right: @bd-thin-main;
        border-bottom: @bd-thin-w;
        border-left: @bd-thin-main;
    }
    .normal {
        border: @bd-thin-w;
        a {
            color: @grey;
        }
    }
    .gender-switch {
        padding-right: 0;
        text-align: right;
        .link();
        a {
            color: @grey;
            &:hover {
                color: @darkGrey;
            }
        }
    }
}