<span class="number">{{ selectedAthletes.length }} {{ genders[selectedGenderId] }}</span>
swimmers competed
<span ng-if="selectedTab == 'event'">
    at
    <span class="wrapper" ng-repeat="kind in ['meets', 'events']">
        <span ng-repeat="(key, val) in sel[kind]">
            <span class="kind" ng-if="selParent[kind][key]">
                <span class="meets-title" ng-if="kind == 'meets'">{{ key.slice(1) }}</span>
                <span ng-repeat="(k, v) in val" ng-class="sel[kind][key][k] ? 'valid' : 'none'" >
                    <span ng-if="sel[kind][key][k] && kind == 'meets'" >{{ k.slice(1) }}</span>
                    <span ng-if="sel[kind][key][k] && kind == 'events'" >{{ k }}</span>
                </span>
            </span>
        </span>
        <span ng-if="kind == 'meets'" class="typcn typcn-times"></span>
    </span>
</span>
<span ng-if="selectedTab == 'name'">
    with
    <span class="wrapper" ng-repeat="a in searchedAthletes track by $index">
        <span class="kind"><span class="valid">{{ a.name }}</span></span>
        <span ng-hide="$index == searchedAthletes.length - 1"> OR&nbsp;</span>
    </span>
</span>