<!-- no athletes are selected -->
<div class="show-links" ng-show="athletesOnFocus.length > 1">
    <span class="select-network"><input type="radio" ng-model="isLinkedVisible" value="1" ng-change="toggleLinkedNodes(true)"> Both nodes &amp; edges (network)</span>
    <span class="select-network"><input type="radio" ng-model="isLinkedVisible" value="0" ng-change="toggleLinkedNodes(false)"> Only nodes (selected swimmers)</span>
</div>
<svg width="100%" id="svg"><g id="vis-g"></g></svg>
<div class="hovered-swimmer" id="swimmer"></div>
