<!-- vis loading status -->
<div class="during-loading" ng-show="isLoadingStarted.panels && $parent.isLoaded.content">
    <span class="animate-flicker">Generating Visualization...</span>
</div>

<!-- panel -->
<div ng-include="'views/content/panels.html'" ng-controller="PanelsCtrl" ng-hide="isLoadingStarted.panels && $parent.isLoaded.content"></div>

<!-- vis: summary, graph, results-->
<div ng-show="!isLoadingStarted.vis && openTab == ''" ng-include="'views/content/vis.html'" ng-controller="VisCtrl"></div>