<!-- update button -->
<div class="row top-wrapper">
    <div class="col-xs-12 col-sm-6 desc">
        <span ng-if="openTab == 'event'">Search swimmers by the combination of meets (competition) and events (final races)</span>
        <span ng-if="openTab == 'name'">Search swimers who competed against or with (as other legs at team events) the typed swimmer(s).</span>
    </div>
    <div class="col-xs-12 col-sm-6 total">
        <span ng-show="optionChanged"><span class="number">{{ selectedAthletes.length }}</span> swimmers found</span>
        <div class="lable" ng-class="optionChanged && selectedAthletes.length > 0 ? 'link-enabled' : 'link-disabled'" ng-click="updateAthletes()">
            <span class="typcn typcn-refresh"></span>
            <span ng-hide="visUpdating">Update</span>
            <span ng-show="visUpdating" class="animate-flicker">Updating Now...</span>
        </div>
    </div>
</div>

<!-- meets & events -->
<div class="row events-wrapper" ng-show="openTab == 'event'">
    <div ng-repeat="kind in ['meets', 'events']" class="col-xs-12 col-sm-6 kind">
        <div class="title"> {{ kind }} </div>
        <ul class="select-list">
            <li ng-repeat="(key, val) in category[kind]">
                <div class="list-title">
                    <span class="list-title-text">{{ val.name }}</span>
                    <span ng-show="selParent[kind][key]"><a ng-click="filterParent(kind, key)"><span class="typcn typcn-minus"></span></a></span>
                    <span ng-hide="selParent[kind][key]"><a ng-click="filterParent(kind, key)"><span class="typcn typcn-plus"></span></a></span>
                </div>
                <ul>
                    <li ng-repeat="child in val.children" ng-class="child[0]=='800Fr' && genders[selectedGenderId]=='men' || child[0]=='1500Fr' && genders[selectedGenderId]=='women' ? 'list-item-disabled': 'list-item'">
                        <input type="checkbox" ng-model="sel[kind][key][child[0]]" ng-change="updateParentStatus(kind, key, child[0])" ng-hide="child[0]=='800Fr' && genders[selectedGenderId]=='men' || child[0]=='1500Fr' && genders[selectedGenderId]=='women'">
                        {{ child[1] }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- search by name -->
<div class="row name-wrapper" ng-show="openTab == 'name'">
    <div class="col-xs-12">
        <input type="text" ng-model="typedAthlete" class="form-control" uib-typeahead="(athlete.name + athlete.country) as athlete for athlete in allAthletes | filter:$viewValue | limitTo:20" placeholder="Type a swimmer's name or country" typeahead-template-url="views/content-options-athlete.html" typeahead-on-select="addAthletes($item); typedAthlete = '';" ng-blur="true">
        <div class="selected" ng-show="searchedAthletes.length > 0">
            <ul class="select-list">
                <li ng-repeat="a in searchedAthletes track by $index">
                    {{ a.name }} <span class="lighter">({{ a.country }}, {{ a.records.length }} races)</span>
                    <a ng-click="removeSearchedAthlete($index)"><span class="typcn typcn-minus"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>