<div ng-class="isLoaded.data ? 'hide' : 'loading-text with'"> Loading Swimmer Data... </div>

<!-- <div class="desc">
    Explore the results from <span class="no">544</span> final races at <span class="no">17</span> international swimming competitions from <span class="no">2007</span> to <span class="no">2016</span>. Total <span class="no">869</span> men and <span class="no">779</span> women swimmers competed.
</div> -->

<div ng-show="isLoaded.data">
    <!-- intro vis -->
    <div>
        <svg width="100%" id="intro-svg"><g id="intro-vis-g"></g></svg>
    </div>

    <!-- start button -->
    <div class="start">
        <div class="start-options">
            <div class="with"> Start with an Example</div>
            <div class="option-text">
                <input type="radio" ng-model="isLoaded.men" ng-value="true"><span class="text-gender">Men- </span>all free style events in the last 3 Olympic Games <br/>
                <input type="radio" ng-model="isLoaded.men" ng-value="false"><span class="text-gender">Women- </span>swimmers who competed with Katie Ledecky<br/>
            </div>
            <div class="button-wrapper">
                <div class="visualize" ng-click="startMainLoading()">
                    <span class="typcn typcn-link"></span>
                    <span ng-switch on="buttonClicked">
                        <span class="animate-flicker" ng-switch-when="true">Generating Visualization...</span>
                        <span ng-switch-default>Explore the Network</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
