<ul class="menus">
    <li><a ng-click="sub.data = !sub.data; sub.insights = false"> Data </a></li>
    <li><a ng-click="sub.insights = !sub.insights; sub.data = false"> Insights </a></li>
    <li>
        <span class="share">Share</span>
        <a href="https://twitter.com/intent/tweet?text=Check out %23visualization of elite swimmer's network by @tanykim at http%3A%2F%2Ftany.kim/swimmers-network %23dataviz %23d3 %23swim %23olympics" target="_blank"><span class="typcn typcn-social-twitter-circular"></span></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftany.kim/swimmers-network" target="_blank"><span class="typcn typcn-social-facebook-circular"></span></a>
    </li>
</ul>
<ul class="menus">
	<li> data from <a href="https://www.swimrankings.net" target="_blank"> Swim Rankings</a></li>
	<li> code at <a href="https://github.com/tanykim/swimmers-network" tager="_blank">GitHub</a></li>
</ul>