<ul class="menus">
    <li><a ng-click="sub.data = !sub.data; sub.insights = false"> Data </a></li>
    <li><a ng-click="sub.insights = !sub.insights; sub.data = false"> Insights </a></li>
    <li> Share <a href="#"><span class="typcn typcn-social-twitter-circular"></span></a><a href="#"><span class="typcn typcn-social-facebook-circular"></span></a></li>
</ul>
<ul class="menus">
	<li> data from <a href="https://www.swimrankings.net" target="_blank"> Swim Rankings</a></li>
	<li> made by <a href="http://tany.kim" target="_blank"> Tanyoung Kim</a> </li>
	<li> code at <a href="https://github.com/tanykim/swimmers-network" tager="_blank">GitHub</a></li>
</ul>