@import 'https://fonts.googleapis.com/css?family=Merriweather:400,700';
/* colors */
/* size */
.web-font {
  font-family: 'Merriweather', serif;
}
/* html base */
body {
  background-color: #fff;
  font-family: system, -apple-system, 'Helvetica Neue', helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  /*font-weight: 700;*/
}
/* layout */
.container {
  position: absolute;
  top: 6px;
  width: 100%;
}
header {
  width: 100%;
}
header .desc,
header .source {
  color: #777777;
}
header .desc a,
header .source a {
  color: #777777;
}
header .source {
  margin-top: 10px;
  font-size: 10pt;
}
.loading {
  margin-top: 60px;
  color: #777777;
  font-size: 16pt;
  text-align: center;
  letter-spacing: 8px;
}
.gender-switch {
  background-color: #efefef;
}
.options .title {
  font-size: 16pt;
}
.options .code {
  color: #777777;
  font-size: 10pt;
}
/*//.options {
//    display: flex;
//    flex-wrap: row wrap;
//    flex-direction: row;
//    justify-content: center;
//    margin-top: 40px;
//    padding-top: 20px;
//    padding-bottom: 20px;
//    border-top: 1px solid @lightGrey;
//    border-bottom: 1px solid @lightGrey;
//    .sort-by, .show {
//        display: inline-block;
//        font-size: @small;
//        .title {
//            .web-font();
//            font-size: @normal;
//            margin-bottom: 10px;
//        }
//    }
//    .sort-by {
//        padding-right: 30px;
//    }
//    .show {
//        padding-left: 30px;
//        border-left: 1px solid @lightGrey;
//    }
//    .sort-by select {
//       border: 1px solid @black;
//       font-size: @small;
//       font-family: inherit;
//    }
//    .count-block {
//        display: inline-block;
//        width: 20px;
//        height: 16px;
//        margin: 2px 4px -3px 2px;
//    }
//    .count-all {
//        background-color: @all;
//        .count-block();
//    }
//    .count-women {
//        background-color: @women;
//        .count-block();
//    }
//    .count-men {
//        background-color: @men;
//        .count-block();
//    }
//    .count-rookies {
//        background-color: @rookies;
//        .count-block();
//    }
//    .count-prev {
//        background-color: @prev;
//        .count-block();
//    }
//    .count {
//        color: @grey;
//        font-size: @small;
//    }
//}*/
.main {
  width: 960px;
  margin: 0 auto;
}
.main .vis {
  margin-top: 20px;
}
.footer .desc {
  /*        background-color: @black;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;*/
  font-size: 10pt;
  /*color: #FFFFFF;
        a {
            color: #FFFFFF;
        }*/
}
/* d3 */
.pos-middle {
  text-anchor: middle;
}
.pos-end {
  text-anchor: end;
}
.v-central {
  alignment-baseline: central;
}
.v-top {
  alignment-baseline: hanging;
}
.size-tiny {
  font-size: 8pt;
}
.size-small {
  font-size: 10pt;
}
.size-normal {
  font-size: 12pt;
}
.size-large {
  font-size: 16pt;
}
.stroke-1 {
  stroke-wieght: 1 ;
}
.stroke-black {
  stroke: black;
}
.stroke-lightGrey {
  stroke: #D3D3D3;
}
.stroke-lightestGrey {
  stroke: #efefef;
}
.fill-grey {
  fill: #777777;
}
.fill-lightGrey {
  fill: #D3D3D3;
}
