/* colors */
/* content-specific colors */
/* background gradation blue */
/* background gradation yellow */
/* size */
/* html base */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* common */
.web-font {
  font-family: 'Montserrat', sans-serif;
}
.web-font-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.serif {
  font-family: Georgia, 'Times New Roman', serif;
}
.link {
  cursor: pointer;
}
/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
.animate-flicker {
  animation: fadeIn 0.6s infinite alternate;
}
@keyframes expand {
  from {
    height: 20px;
  }
  to {
    height: 173px;
  }
}
.animate-expand {
  animation: expand 0.6s 1;
}
/* overall layout */
.container {
  background: #2BC0E4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2BC0E4, #EAECC6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2BC0E4, #EAECC6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* intro layout */
.intro {
  position: absolute;
  right: 50%;
  background-color: #FFFFFF;
  margin-right: -25%;
  z-index: 1000;
  padding: 16px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  text-align: center;
  line-height: 140%;
}
.intro .title {
  width: 560px;
}
.intro .desc {
  letter-spacing: 1.8px;
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', serif;
  color: #777777;
}
.intro .desc .no {
  font-family: 'Montserrat', sans-serif;
  color: #2BC0E4;
}
.intro .hide {
  display: none;
}
.intro .expand {
  overflow: hidden;
  animation: expand 0.6s 1;
}
.intro .loading-text {
  animation: fadeIn 0.6s infinite alternate;
  color: #f5625a;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.4px;
  text-align: center;
}
.intro .start-options {
  text-align: left;
  padding: 18px 24px;
  background-color: rgba(239, 239, 239, 0.5);
  border-radius: 12px;
}
.intro .start-options .with {
  text-align: center;
  color: #2BC0E4;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.8px;
  margin-bottom: 12px;
}
.intro .start-options .option-text {
  font-family: Georgia, 'Times New Roman', serif;
  color: #777777;
}
.intro .start-options .button-wrapper {
  text-align: center;
  margin-top: 18px;
  box-sizing: border-box;
  cursor: pointer;
}
.intro .start-options .button-wrapper .visualize {
  background-color: #f5625a;
  padding: 12px 20px;
  border-radius: 24px;
  display: inline-block;
  letter-spacing: 1.8px;
  color: #FFFFFF;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.footer .menus {
  font-size: 14px;
  color: #2BC0E4;
  margin-top: 24px;
  border: 1px solid #EAECC6;
  padding: 12px 16px;
  border-radius: 24px;
  display: inline-block;
}
.footer .menus li {
  display: inline-block;
  list-style: none;
  padding-left: 6px;
  padding-right: 6px;
}
.footer .menus a {
  color: #FFFFFF;
}
.footer .menus a:hover {
  color: #444444;
}
/* sizing */
/* inside container */
.main {
  position: relative;
  left: 86px;
}
/* inside main */
.gender {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  padding: 14px 20px 14px 20px;
  display: table;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.gender .selected,
.gender .gender-switch {
  display: table-cell;
}
.gender .selected {
  color: #444444;
  text-transform: capitalize;
}
.gender .selected .number {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.gender .gender-switch {
  text-align: right;
}
.gender .gender-switch a {
  color: #FFFFFF;
}
.gender .gender-switch a:hover {
  color: #444444;
}
.tabs {
  position: absolute;
  left: -60px;
  width: 60px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}
.tabs div {
  padding: 14px 16px;
  margin-bottom: 6px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 1.4em !important;
}
.tabs .open {
  color: #000000;
  background: #FFFFFF;
}
.tabs .selected {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.4);
}
.tabs .normal {
  color: #777777;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.tabs a {
  cursor: pointer;
}
.tabs a:hover {
  color: #000000;
}
.top {
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  width: 200px;
  position: absolute;
  top: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.top .menus,
.top .copyright {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
  padding: 0;
}
.top .menus li,
.top .copyright li {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-bottom: 12px;
}
.top .menus a,
.top .copyright a {
  color: #FFFFFF;
}
.top .menus a:hover,
.top .copyright a:hover {
  color: #444444;
}
.top .copyright {
  font-size: 14px;
}
.options,
.search {
  position: absolute;
  background: #FFFFFF;
  top: 0;
  padding: 24px 6px 24px 6px;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
}
.options .total,
.search .total {
  text-align: right;
  color: #777777;
  margin-right: 24px;
  margin-left: 14px;
  margin-bottom: 24px;
}
.options .total .number,
.search .total .number {
  color: #000000;
}
.options .total .lable,
.search .total .lable {
  background-color: #f5625a;
  display: inline-block;
  padding: 2px 12px 4px 4px;
  border-radius: 4px;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 14px;
}
.options .total .link-enabled,
.search .total .link-enabled {
  cursor: pointer;
}
.options .total .link-disabled,
.search .total .link-disabled {
  background-color: #D3D3D3;
  cursor: default;
}
.options .wrapper {
  display: table;
}
.options .kind {
  display: inline-block;
  width: 50%;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  display: table-cell;
}
.options .kind:first-child {
  border-right: 1px solid #efefef;
}
.options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.options .title {
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 14px;
  background-color: #444444;
  color: #FFFFFF;
}
.options .select-list .list-title {
  margin-top: 16px;
  margin-bottom: 10px;
}
.options .select-list .list-title a {
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 12px !important;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: inline-block;
  text-align: center;
}
.options .select-list .list-title-text {
  font-weight: bold;
}
.options .select-list .list-item,
.options .select-list .list-item-disabled {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 4px;
  font-family: Georgia, 'Times New Roman', serif;
}
.options .select-list .list-item-disabled {
  text-decoration: line-through;
}
.search .wrapper {
  padding-right: 24px;
  padding-left: 24px;
}
/* inside content */
.summary {
  background: rgba(255, 255, 255, 0.4);
  padding-right: 18px;
  padding-left: 18px;
  font-size: 14px;
}
.summary .wrapper {
  display: inline-block;
  margin-bottom: 6px;
  margin-left: 4px;
}
.summary .kind {
  padding: 2px 4px 2px 8px;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  font-family: Georgia, 'Times New Roman', serif;
  background-color: #444444;
  color: #FFFFFF;
}
.summary .kind .valid {
  margin-right: 4px;
}
.summary .kind .meets-title {
  font-family: 'Montserrat', sans-serif;
  margin-right: 4px;
}
.vis {
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  position: relative;
}
.vis svg {
  background-color: #FFFFFF;
  border-radius: 4px;
}
.vis .hovered-swimmer,
.vis .show-links {
  position: absolute;
  left: 0%;
  right: 100%;
  width: 100%;
  color: #777777;
  text-align: center;
  font-size: 14px;
}
.vis .hovered-swimmer {
  top: 20px;
}
.vis .hovered-swimmer i {
  font-style: normal;
  color: #f5625a;
}
.vis .show-links {
  margin-top: 12px;
  bottom: 36px;
}
.results {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.results .selected-lists {
  padding-bottom: 10px;
}
.results .selected-lists select {
  font-size: 16px;
}
.results .no-races {
  padding-bottom: 20px;
}
.results .table-wrapper {
  overflow: auto;
  max-height: 200px;
}
.results .race-athlete-table {
  border-spacing: 0;
  border-collapse: separate;
  position: relative;
}
.results thead .athlete,
.results thead .record {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: normal;
}
.results tbody .close,
.results tbody .athlete,
.results tbody .record {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}
.results .close a {
  cursor: pointer;
}
.results .athlete,
.results .record {
  padding: 9px;
}
.results .athlete .name,
.results .record .name,
.results .athlete .race-meet,
.results .record .race-meet {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
.results .athlete .country,
.results .record .country {
  color: #777777;
  font-weight: normal;
}
.results .athlete {
  min-width: 140px;
  box-sizing: border-box;
}
.results .winner {
  background-color: #2BC0E4;
}
.results .record {
  min-width: 120px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 4px;
  padding-bottom: 4px;
}
.results .record .place-wrapper,
.results .record .swimtime {
  display: inline-block;
  box-sizing: border-box;
}
.results .record .place-wrapper {
  text-align: right;
  width: 28px;
}
.results .record .swimtime {
  text-align: left;
  width: 48px;
}
.results .record .place {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  display: block;
  padding-top: 4px;
}
.results .record .place-border {
  border: 2px solid #000000;
  border-radius: 12px;
  padding-top: 1px;
}
.results .record .place1 {
  border: 2px solid #000000;
  border-radius: 12px;
  padding-top: 1px;
  background-color: #fbcd15;
}
.results .record .place2 {
  border: 2px solid #000000;
  border-radius: 12px;
  padding-top: 1px;
  background-color: #dadada;
}
.results .record .place3 {
  border: 2px solid #000000;
  border-radius: 12px;
  padding-top: 1px;
  background-color: #d88133;
}
/* typcn edit */
.typcn {
  font-size: 1.4em;
  line-height: 1em;
}
/* d3 */
.pos-middle {
  text-anchor: middle;
}
.pos-end {
  text-anchor: end;
}
.v-central {
  alignment-baseline: central;
}
.v-top {
  alignment-baseline: hanging;
}
.size-tiny {
  font-size: 9px;
}
.size-small {
  font-size: 14px;
}
.size-normal {
  font-size: 16px;
}
.size-large {
  font-size: 18px;
}
.unselectable {
  pointer-events: none;
}
.stroke-black {
  stroke: black;
}
.stroke-lightGrey {
  stroke: #D3D3D3;
}
.stroke-lightestGrey {
  stroke: #efefef;
}
.fill-grey {
  fill: #777777;
}
.fill-lightGrey {
  fill: #D3D3D3;
}
/* d3 project specific */
.link-normal {
  stroke: #000000;
  stroke-opacity: 0.2;
}
.link-over {
  stroke: #2BC0E4;
}
.link-mutual-linked {
  stroke: #f5625a;
}
.node-common {
  stroke-width: 1;
  stroke: #FFFFFF;
  stroke-opacity: 0.5;
}
.node-normal {
  stroke-width: 1;
  stroke: #FFFFFF;
  stroke-opacity: 0.5;
  fill: #000000;
}
.node-over {
  stroke-width: 1;
  stroke: #FFFFFF;
  stroke-opacity: 0.5;
  fill: #2BC0E4;
  stroke: #2BC0E4;
  cursor: pointer;
}
.node-clicked {
  stroke-width: 1;
  stroke: #FFFFFF;
  stroke-opacity: 0.5;
  fill: #f5625a;
  cursor: pointer;
}
.node-linked {
  stroke-width: 1;
  stroke: #FFFFFF;
  stroke-opacity: 0.5;
  fill: #EAECC6;
  stroke: #2BC0E4;
}
.node-mutual-linked {
  stroke: #f5625a;
  fill: #FFFFFF;
}
