/* colors */
@black: #000000;
@darkGrey: #444444;
@grey: #777777;
@lightGrey: #D3D3D3;
@lightestGrey: #efefef;
@white: #FFFFFF;

/* content-specific colors */
@meet: @darkGrey;
@event: @lightestGrey;

@gs: #2BC0E4; /* background gradation blue */
@ge: #EAECC6; /* background gradation yellow */
@highlight: #f5625a;

@node: #000000;
@over: @gs;
@clicked: @highlight;
@linked: @ge;

@gold: #fbcd15;
@silver: #dadada;
@bronze: #d88133;

@black-trans-dark: rgba(0, 0, 0, 0.4);
@black-trans-light: rgba(0, 0, 0, 0.2);
@white-trans: rgba(255, 255, 255, 0.4);

/* size */
@huge: 42px;
@large: 18px;
@normal: 16px;
@small: 14px;
@tiny: 9px;

/* html base */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
   text-decoration: none !important;
}

/* common */
.web-font {
    font-family: 'Montserrat', sans-serif;
}
.web-font-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.serif {
    font-family: Georgia, 'Times New Roman', serif;
}
.link {
    cursor: pointer;
}

/* animation */
@keyframes fadeIn {
  from { opacity: 0; }
}
.animate-flicker {
    animation: fadeIn 0.6s infinite alternate;
}
@keyframes expand {
    from { height: 20px; }
    to { height: 173px; }
}
.animate-expand {
    animation: expand 0.6s 1;
}

/* overall layout */
.container {
    background: #2BC0E4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, @gs, @ge); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, @gs, @ge); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* intro layout */
.intro {
    position: absolute;
    right: 50%;
    background-color: @white;
    margin-right: -25%;
    z-index: 1000;
    padding: 16px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: center;
    line-height: 140%;
    .title {
        width: 560px;
    }
    .desc {
        letter-spacing: 1.8px;
        margin-top: 24px;
        margin-bottom: 48px;
        font-size: @small;
        .serif();
        color: @grey;
        .no {
            .web-font();
            color: @gs;
        }
    }
    .hide {
        display: none;
    }
    .expand {
        overflow: hidden;
        .animate-expand();
    }
    .loading-text {
        .animate-flicker();
        color: @highlight;
        .web-font();
        letter-spacing: 2.4px;
        text-align: center;
        padding-bottom: 24px;
    }
    .start-options {
        text-align: left;
        padding: 18px 24px;
        background-color: fade(@lightestGrey, 50%);
        border-radius: 12px;
        .with {
            text-align: center;
            color: @gs;
            .web-font();
            letter-spacing: 1.8px;
            margin-bottom: 12px;
        }
        .option-text {
            .serif();
        }
        .button-wrapper {
            text-align: center;
            margin-top: 18px;
            box-sizing: border-box;
            .link();
            .visualize {
                background-color: @highlight;
                padding: 12px 20px;
                border-radius: 24px;
                display: inline-block;
                letter-spacing: 1.8px;
                color: @white;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    .menus {
        font-size: @small;
        color: @gs;
        margin-top: 24px;
        border: 1px solid @ge;
        padding: 12px 16px;
        border-radius: 24px;
        display: inline-block;
        li {
            display: inline-block;
            list-style: none;
            padding-left: 6px;
            padding-right: 6px;
        }
        a {
            color: @white;
        }
        a:hover {
            color: @darkGrey;
        }
    }
}

/* sizing */
@tab-width: 86px;

/* inside container */
.main {
    position: relative;
    left: @tab-width;
}
.during-loading {
    height: 100%;
    background-color: @white-trans;
}

/* inside main */
.gender {
    background: @white-trans;
    width: 100%;
    padding: 14px 20px 14px 20px;
    display: table;
    box-sizing: border-box;
    .web-font();
    .selected, .gender-switch {
        display: table-cell;
    }
    .selected {
        .number {
            color: @black;
            .web-font-bold();
        }
        color: @darkGrey;
        text-transform: capitalize;
    }
    .gender-switch {
        text-align: right;
        a {
            color: @white;
        }
        a:hover {
            color: @darkGrey;
        }
    }
}
.tabs {
    position: absolute;
    left: -60px;
    width: 60px;
    font-size: @small;
    .web-font();
    text-align: right;
    div {
        padding: 14px 16px;
        margin-bottom: 6px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 1.4em !important;
    }
    a {
        .link();
        color: @grey;
    }
    a:hover {
        color: @black;
    }
    .open {
        background: @white;
        a {
            color: @black;
        }
    }
    .selected {
        background-color: @white-trans;
    }
    .normal {
        border-top: 1px solid @white-trans;
        border-bottom: 1px solid @white-trans;
        border-left: 1px solid @white-trans;
    }
}
.top {
    .web-font();
    margin-left: 20px;
    width: 200px;
    position: absolute;
    top: 18px;
    color: fade(@white, 50%);
    .menus, .copyright {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 40px;
        padding: 0;
        li {
            list-style: none;
            margin: 0;
            padding-left: 0;
            margin-bottom: 12px;
        }
        a {
            color: @white;
        }
        a:hover {
            color: @darkGrey;
        }
    }
    .copyright {
        font-size: @small;
    }
}
.options {
    position: absolute;
    background: @white;
    top: 0;
    padding: 24px 6px 24px 6px;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 8px;
    .web-font();
    .total {
        text-align: right;
        color: @grey;
        margin-right: 24px;
        .number {
            color: @black;
        }
        margin-left: 14px;
        margin-bottom: 24px;
        .lable {
            background-color: @highlight;
            display: inline-block;
            padding: 2px 12px 4px 4px;
            border-radius: 4px;
            font-size: 18px;
            color: @white;
            margin-left: 14px;
        }
        .link-enabled {
            .link();
        }
        .link-disabled {
            background-color: @lightGrey;
            cursor: default;
        }
    }
    .title {
        font-weight: bold;
        text-transform: uppercase;
        padding: 2px 14px;
        background-color: @darkGrey;
        color: @white;
    }
    .events-wrapper {
        display: table;
    }
    .kind {
        display: inline-block;
        width: 50%;
        padding-right: 24px;
        padding-left: 24px;
        box-sizing: border-box;
        display: table-cell;
    }
    .kind:first-child {
        border-right: 1px solid @lightestGrey;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .select-list {
        .list-title {
            margin-top: 16px;
            margin-bottom: 10px;
        }
        a {
            .link();
            background-color: @black;
            color: @white;
            font-size: 12px !important;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            display: inline-block;
            text-align: center;
        }
        .list-title-text {
            font-weight: bold;
        }
        .list-item, .list-item-disabled {
            font-size: @small;
            margin-left: 10px;
            margin-bottom: 4px;
            .serif();
        }
        .list-item-disabled {
            text-decoration: line-through;
        }
    }
    .name-wrapper {
        padding-right: 24px;
        padding-left: 24px;
        min-width: 560px;
        .form-control {
            margin-top: 16px;
        }
        .dropdown-menu > .active >a,
        .dropdown-menu > .active >a:focus,
        .dropdown-menu > .active >a:hover {
            background-color: @gs;
        }
        .selected {
            font-size: @small;
            margin-top: 24px;
            .count {
                .serif();
                margin-bottom: 10px;
            }
            li {
                margin-top: 6px;
            }
        }
        .name {
            margin-right: 9px;
        }
        .country {
            border-left: 1px solid @lightestGrey;
            border-right: 1px solid @lightestGrey;
            padding-left: 9px;
            padding-right: 9px;
        }
        .race-count {
            margin-left: 9px;
            color: @grey;
            .serif();
        }
    }
}

/* inside content */
.summary {
    background: @white-trans;
    padding-right: 18px;
    padding-left: 18px;
    font-size: @small;
    .wrapper {
        display: inline-block;
        margin-bottom: 6px;
        margin-left: 4px;
        line-height: 160%;
    }
    .kind {
        padding: 2px 4px 2px 8px;
        border-radius: 4px;
        margin-right: 4px;
        margin-bottom: 6px;
        .valid {
            margin-right: 4px;
        }
        .serif();
        background-color: @darkGrey;
        color: @white;
        .meets-title {
            .web-font();
            margin-right: 4px;
        }
    }
}
.vis {
    background-color: @white-trans;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    position: relative;
    svg {
        background-color: @white;
        border-radius: 4px;
    }
    .hovered-swimmer, .show-links {
        position: absolute;
        left: 0%;
        right: 100%;
        width: 100%;
        text-align: center;
        font-size: @small;
        a {
            .link();
            color: @grey;
        }
    }
    .hovered-swimmer {
        top: 20px;
        i {
            font-style: normal;
            color: @highlight;
        }
    }
    .show-links {
        margin-top: 12px;
        bottom: 36px;
    }
}
.results {
    .serif();
    font-size: @small;
    padding: 20px;
    background-color: @white-trans;
    .selected-lists {
        padding-bottom: 10px;
        select {
            font-size: @normal;
        }
    }
    .no-races {
        padding-bottom: 20px;
    }
    .table-wrapper {
        overflow: auto;
        max-height: 225px;
    }
    .race-athlete-table {
        position: relative;
    }
    thead {
        .athlete, .record {
            border-bottom: 1px solid @black-trans-light;
            font-weight: normal;
        }
        th{
            text-align: center;
        }
    }
    tbody {
        .close-icon, .athlete, .record {
            border-top: 1px solid @black-trans-light;
            text-align: center;
        }
    }
    .close-icon {
        a {
            .link();
            color: @black;
        }
    }
    .athlete, .record {
        padding: 9px;
        .name, .race-meet {
            .web-font();
            color: @black;
        }
        .country {
            color: @grey;
            font-weight: normal;
        }
    }
    .athlete {
        min-width: 150px;
        box-sizing: border-box;
    }
    .winner {
        background-color: @gs;
    }
    .record {
        min-width: 145px;
        border-left: 1px solid @black-trans-light;
        padding-top: 4px;
        padding-bottom: 4px;
        .place-wrapper, .swimtime {
            display: inline-block;
            box-sizing: border-box;
        }
        .place-wrapper {
            text-align: right;
            width: 28px;
        }
        .swimtime {
            text-align: left;
            width: 48px;
        }
        .place {
            text-align: center;
            .web-font();
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            display: block;
            padding-top: 4px;
        }
        .place-border {
            border: 2px solid @black;
            border-radius: 12px;
            padding-top: 1px;
        }
        .place1 {
            .place-border();
            background-color: @gold;
        }
        .place2 {
            .place-border();
            background-color: @silver;
        }
        .place3 {
            .place-border();
            background-color: @bronze;
        }
    }
}

/* typcn edit */
.typcn {
    font-size: 1.4em;
    line-height: 1em;
}
@import 'd3';