@import 'https://fonts.googleapis.com/css?family=Merriweather:400,700';

/* colors */
@black: #000000;
@grey: #777777;
@lightGrey: #D3D3D3;
@lightestGrey: #efefef;
@white: #FFFFFF;

/* content-specific colors */
@meet: #6994f4;
@event: #3fc08b;

/* size */
@huge: 32pt;
@large: 16pt;
@normal: 12pt;
@small: 10pt;
@tiny: 8pt;

.web-font {
    font-family: 'Merriweather', serif;
}
/* html base */
body {
    background-color: #fff;
    font-family: system, -apple-system, 'Helvetica Neue', helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*h1, h2, h3 {
    font-weight: 700;
}*/

/* overall layout */
.container {
    position: absolute;
    top: 6px;
    width: 100%;
}

/* inside container */
header {
    width: 100%;
    .title {
    }
    .desc, .source {
        color: @grey;
        a {
            color: @grey;
        }
    }
    .source {
        margin-top: 10px;
        font-size: @small;
    }
}
.loading {
    margin-top: 60px;
    color: @grey;
    font-size: @large;
    text-align: center;
    letter-spacing: 8px;
}
.gender-switch {
    background-color: @lightestGrey;
}
.options {
    .search {
        margin-bottom :20px;
        padding: 20px 0;
        border-bottom: 1px solid @grey;
    }
    .title {
        font-size: @large;
        text-transform: uppercase;
    }
    .select-list {
        a {
            cursor: pointer;
        }
    }
}
.summary {
    /*background-color: @lightestGrey;*/
    .meets {
        background-color: @meet;
        color: @white;
        margin-right: 6px;
    }
    .events {
        background-color: @event;
        color: @white;
        margin-right: 6px;
    }
}
.vis {
    margin-top: 20px;
}
.footer {
    .desc {
        background-color: @lightestGrey;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: @small;
        /*color: #FFFFFF;
        a {
            color: #FFFFFF;
        }*/
    }
}

/*//.options {
//    display: flex;
//    flex-wrap: row wrap;
//    flex-direction: row;
//    justify-content: center;
//    margin-top: 40px;
//    padding-top: 20px;
//    padding-bottom: 20px;
//    border-top: 1px solid @lightGrey;
//    border-bottom: 1px solid @lightGrey;
//    .sort-by, .show {
//        display: inline-block;
//        font-size: @small;
//        .title {
//            .web-font();
//            font-size: @normal;
//            margin-bottom: 10px;
//        }
//    }
//    .sort-by {
//        padding-right: 30px;
//    }
//    .show {
//        padding-left: 30px;
//        border-left: 1px solid @lightGrey;
//    }
//    .sort-by select {
//       border: 1px solid @black;
//       font-size: @small;
//       font-family: inherit;
//    }
//    .count-block {
//        display: inline-block;
//        width: 20px;
//        height: 16px;
//        margin: 2px 4px -3px 2px;
//    }
//    .count-all {
//        background-color: @all;
//        .count-block();
//    }
//    .count-women {
//        background-color: @women;
//        .count-block();
//    }
//    .count-men {
//        background-color: @men;
//        .count-block();
//    }
//    .count-rookies {
//        background-color: @rookies;
//        .count-block();
//    }
//    .count-prev {
//        background-color: @prev;
//        .count-block();
//    }
//    .count {
//        color: @grey;
//        font-size: @small;
//    }
//}*/


/* d3 */
.pos-middle {
    text-anchor: middle;
}
.pos-end {
    text-anchor: end;
}
.v-central {
    alignment-baseline: central;
}
.v-top {
    alignment-baseline: hanging;
}
.size-tiny {
    font-size: @tiny;
}
.size-small {
    font-size: @small;
}
.size-normal {
    font-size: @normal;
}
.size-large {
    font-size: @large;
}

.stroke-1 {
    stroke-wieght: 1 ;
}
.stroke-black {
    stroke: black;
}
.stroke-lightGrey {
    stroke: @lightGrey;
}
.stroke-lightestGrey {
    stroke: @lightestGrey;
}

.fill-grey {
    fill: @grey;
}
.fill-lightGrey {
    fill: @lightGrey;
}